<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Título de tu Sitio</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>

    {% block content %}
    <!-- El contenido específico de la página irá aquí -->
    {% endblock %}

    <!-- Opcional: jQuery y Popper.js para componentes Bootstrap que lo requieren -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.11/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9lFQ6X1eKt4miZ4Z9JdFgX8xhT/4OXX/1Mz3ttZSAOu/q+Uxe90taXw6" crossorigin="anonymous"></script>
    <!-- Bootstrap JavaScript CDN -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha384-+YIc4EV3BIDzT3Z+EkIz6rV3ZOE5zyIBkLTI/5pZpFALmQ61Y5EbO3EOU6v8P1L" crossorigin="anonymous"></script>

</body>
</html>
